{% extends 'register/index.html'%}
{% block content %}
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <td>Nombre Completo</td>
                <td>Celular</td>
                <td>Posicion</td>
                <td>
                    <a href="{% url 'insertar_empleado'%}" class="btn btn-outline-success">
                        <i class="fas fa-plus"></i> Agregar
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for empleado in lista_empleado %}
                <tr>
                    <td>{{empleado.nombre_comp}}</td>
                    <td>{{empleado.celular}}</td>
                    <td>{{empleado.posicion}}</td>
                    <td>
                        <a href="{% url 'actualizar_empleado' empleado.id%}" class="btn text-secondary px-0">
                            <i class="far fa-edit fa-lg"></i>
                        </a>
                        <form action="{% url 'eliminar_empleado' empleado.id%}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn">
                                <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}